<!--<section class="navigation">
  <ul>
    <li id="navLogo">
      <a href="/Home"></a>
    </li>

    <li class="nav-list-container" id="navManage">
      <a href="/Manage/Category"><i class="material-icons">&#xE8F9;</i></a>
      <ul class="nav-list" id="navManageMenu">
        <li>Manage</li>
        <li id="navManageCategory"><a href="/Manage/Category">Categories</a></li>
        <li id="navManageSubCategory"><a href="/Manage/SubCategory">Sub-Categories</a></li>
        <li id="navManageProductType"><a href="/Manage/ProductType">Product Types</a></li>
        <li id="navManageIngredient"><a href="/Manage/Ingredient">Ingredients</a></li>
        <li id="navManageProduct"><a href="/Manage/Product">Products</a></li>
        <li id="navManagePromotion"><a href="/Manage/Promotion">Promotions</a></li>
        <li id="navManageInventory"><a href="/Stock/Inventory">Inventory</a></li>
      </ul>
    </li>
    <li class="nav-list-container" id="navStock">
      <a href="/Stock/Supplier"><i class="material-icons">&#xE547;</i></a>
      <ul class="nav-list" id="navStockMenu">
        <li>Stock</li>
        <li id="navStockSuppliers"><a href="/Stock/Supplier">Suppliers</a></li>
        <li id="navStockInventory"><a href="/Stock/Inventory">Inventory</a></li>
        <li id="navStockCount"><a href="/Stock/StockCount" style="cursor: not-allowed;">Stock Count</a></li>
        <li id="navStockPurchaseOrder"><a href="/Stock/PurchaseOrder" style="cursor: not-allowed;">Purchase Order</a></li>
      </ul>
    </li>

    <li class="nav-list-container" id="navStaff">
      <a href="/Staff/Manage"><i class="material-icons">&#xE853;</i></a>
      <ul class="nav-list" id="navStaffMenu">
        <li>People</li>
        <li id="navPeopleStaff"><a href="/Staff/Manage">Staff</a></li>
        <li id="navPeopleCustomers"><a href="/Customer/Manage">Customers</a></li>
        <li id="navPeopleSuppliers"><a href="/Stock/Supplier">Suppliers</a></li>
      </ul>
    </li>
    <li class="nav-list-container" id="navReports">
      <a href="/Reports/EOD"><i class="material-icons">&#xE801;</i></a>
      <ul class="nav-list" id="navReportsMenu">
        <li>Reports</li>
        <li id="navReportsQS"><a href="/Reports/EOD">Quick Summary</a></li>
        <li id="navReportsDelivery"><a href="/Reports/Deliveries">Delivery Report</a></li>
        <li id="navReportsCategory"><a href="/Reports/CategorySalesReport">Category Sales</a></li>
        <li id="navReportsBest"><a href="/Reports/ProductSalesReport">Best Selling</a></li>
        <li id="navReportsTransactions"><a href="/Reports/TransactionsReport">Transactions Report</a></li>
        <li id="navReportsMasterOrderItem"><a href="/Reports/MasterOrderItemReport">Item Report</a></li>
        <li id="navReportsSalesByHour"><a href="/Reports/HourlySalesReport">Sales By Hour</a></li>
        <li id="navReportsIngredient"><a href="/Reports/IngredientReport">Ingredient Report</a></li>
        <li id="navReportsCancelledItems"><a href="/Reports/CancelledItemsReport">Cancelled Items Report</a></li>
        <li id="navReportsPayment"><a href="/Reports/PaymentReports">Payment Reports</a></li>
        <li id="navReportsTax"><a href="/Reports/TaxTypeReports">Tax Reports</a></li>

        <li><a href="/Reports/RegisterClosures">Register Closures</a></li>


      </ul>
    </li>
    <li class="nav-list-container" id="navSettings">
      <a href="/Setting/General"><i class="material-icons">&#xE8B8;</i></a>
      <ul class="nav-list" id="navSettingsMenu">
        <li>Settings</li>
        <li id="navSettingsBusiness"><a href="/Setting/General">Business Settings</a></li>
        <li id="navSettingsSites"><a href="/Setting/Site/">Sites</a></li>
        <li id="navSettingsAccessControl"><a href="/Setting/Role/">Access Control</a></li>
        <li id="navSettingsOrderType"><a href="/Setting/OrderType/">Order Type</a></li>
        <li id="navSettingsSalesTax"><a href="/Setting/Taxation">Sales Tax</a></li>
        <li id="navSettingsComments"><a href="/Setting/ReasonType">Register Settings</a></li>

        <li id="navSettingsPaymentTypes"><a href="/Setting/Payment">Payment Types</a></li>

      </ul>
    </li>
    <li id="navLogout"><a href="/Base/Logout"><i class="material-icons">&#xE897;</i></a></li>
    <li id="navLogout"><a href="/Base/Logout"><i class="material-icons">help</i></a></li>
  </ul>
</section>-->



<section fxLayout="row" fxHide.xs>
  <div class="sidebar-nav-1" fxShow fxHide.xs>
    <md-icon>work</md-icon>
    <md-icon>shopping_cart</md-icon>
    <md-icon>account_circle</md-icon>
    <md-icon>insert_chart</md-icon>
    <md-icon>settings</md-icon>
    <md-icon>lock</md-icon>
    <md-icon>help</md-icon>
  </div>
  <div class="sidebar-nav-2" fxShow fxHide.lt-md>
    Nav Menus
  </div>
</section>
