$theme-color-darkblue:#2f3f7c;
$border-color: #e5e5e5;
$toolbar-height:60px;
$sidebar-strip-width:74px;
$sidebar-strip2-width:200px;
$screen-width-sm:768px;
$screen-width-md:992px;
$screen-width-lg:1280px;
// @import "app.flex";
a {
  text-decoration: none;
}

.text-align-right {
  text-align: right;
}
