@import '../../app.config';
:host {
  display: block;
  margin: 20px;
  >section {
    display: flex;
  }
}

header {
  color: #fff;
  background-color: $theme-color-darkblue;
  border: 1px solid $border-color;
  text-align: center;
  padding: 20px 40px;
  font-size: 15px;
}

.panel-body {
  border: 0 1px 1px 1px solid $border-color;
}
